.movie-img {
  display: inline-block;
  max-height: 150px;
  width:auto;
  line-height:1.5;
  box-sizing:border-box;
}

.movie-info {
  display: inline-block;
}

.movie-display {
  height: 150px;
  margin: 10px;
}

iframe {
  margin: 20px 0;
}

.nav {
  padding: 10px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:150px;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:150px;
}